<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Repository status</title>
</head>
<body>
    <h1># Repository status</h1>
    <p>This simple tool aims to use the GitHub API to bring the organization's repositories and have a preview of their status. Being able to know how many pull requests are open, as well as the issues and other data.</p>
    <p>Each of the repositories has a link to it, as well as to the issues and pull requests. The default search is 100. We hope they can be sorted in the future by the number of open pull requests or issues.</p>
    <div id="app">
        <div v-if="loading">
            <h3>Searching repositories...</h3>
        </div>
        <div v-else>
            <div v-for="repository in repositories">
                <ul>
                    <li>
                        <strong>
                            <a target="_blank" :href="repository.html_url">{{ repository.name }}</a>
                        </strong>: {{ repository.description }}
                    </li>
                </ul>
                <span>
                    <img :src="`https://img.shields.io/github/license/azerothcore/${repository.name}.svg`" :alt="repository.name">
                    <img :src="`https://img.shields.io/github/stars/azerothcore/${repository.name}.svg`" :alt="repository.name">
                    <img :src="`https://img.shields.io/github/forks/azerothcore/${repository.name}.svg`" :alt="repository.name">
                    <a :href="`https://github.com/azerothcore/${repository.name}/issues`" target="_blank"><img :src="`https://img.shields.io/github/issues/azerothcore/${repository.name}.svg`" :alt="repository.name"></a>
                    <a :href="`https://github.com/azerothcore/${repository.name}/pulls`" target="_blank"><img :src="`https://img.shields.io/github/issues-pr/azerothcore/${repository.name}.svg`" :alt="repository.name"></a>
                </span>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
